/* -------------------------------------------- */
/*                 Product Page                 */
/* -------------------------------------------- */

/* ------------- Product Specific ------------- */

.product-specific {
  position: relative;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.product-image {
  cursor: pointer;
}

.product-specific-content h1 {
  padding-bottom: 10px;
  font-size: 1.5rem;
  border-bottom: var(--bd-blue);
}

.product-color {
  margin-top: 10px;
  font-size: var(--fs-xlarge);
  font-weight: var(--fw-medium);
  text-transform: capitalize;
}

.product-specific-content p {
  margin-bottom: 20px;
}

.price-stock {
  margin-block: 15px;
  gap: 15px;
  display: flex;
  align-items: center;
  font-size: var(--fs-xxlarge);
  font-weight: var(--fw-semi-bold);
}

.product-specific-content .in-stock {
  font-size: var(--fs-large);
  font-weight: var(--fw-bold);
}

.product-specific-content select,
.product-specific-content .cta {
  max-width: 300px;
}

.product-specific-content select {
  font-weight: var(--fw-medium);
}

/* ------------ Product Image Modal ----------- */

.modal {
  position: fixed;
  display: grid;
  inset: 0;
  place-items: center;
  opacity: 0;
  backdrop-filter: blur(2px);
  transition: opacity var(--tr-modal);
  background-color: var(--clr-darker-shadow);
  z-index: 3;
}

.modal-open {
  opacity: 1;
}

.modal-content {
  margin-inline: 20px;
  transform: scale(0.75);
  transition: transform var(--tr-modal);
}

.modal-open .modal-content {
  transform: scale(1);
}

.modal-image,
.modal-close-button {
  display: block;
}

.modal-image {
  max-height: 85vh;
}

.modal-close-button {
  margin: 0 0 15px auto;
  font-size: 2rem;
  background-color: transparent;
}
