/* -------------------------------------------- */
/*                    Resets                    */
/* -------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

img:not(.icon) {
  width: 100%;
  object-fit: cover;
  border-radius: var(--bd-radius);
}
