/* -------------------------------------------- */
/*                Utility Classes               */
/* -------------------------------------------- */

/* Max width container
 Inspiration: https://www.youtube.com/watch?v=wBKT2KN_Y9s&t=155s */

.maxw-container {
  width: min(var(--maxw-page), calc(100% - var(--minm-page)));
  margin-inline: auto;
}

.no-wrap {
  white-space: nowrap;
}

.hidden {
  display: none !important;
}

.p-large {
  font-size: var(--fs-large);
}

.required-field {
  color: var(--clr-red);
}

.in-stock {
  color: var(--clr-green);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

/* Loading Spinner
 Inspiration: https://www.w3schools.com/howto/howto_css_loader.asp */

.loading-spinner,
.error-message {
  position: absolute;
  inset: 0;
  margin: auto;
}

.loading-spinner {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 7px solid var(--clr-grey);
  border-top-color: var(--clr-blue);
  animation: spin 2s linear infinite;
}

.error-message {
  width: fit-content;
  height: fit-content;
  padding: 20px;
  display: flex;
  gap: 10px;
  border-radius: var(--bd-radius);
  border: 4px solid var(--clr-red);
}

.error-message strong {
  color: var(--clr-red);
}

.error-message p {
  margin-top: 5px;
  font-weight: var(--fw-medium);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ---------------- Form Error ---------------- */

.input-container {
  position: relative;
}

.input-error-icon {
  position: absolute;
  top: 16px;
  right: 15px;
}

.input-error-message {
  margin: -20px 5px 20px;
  font-size: var(--fs-small);
  font-weight: var(--fw-semi-bold);
  color: var(--clr-red);
}

.input-error-border {
  padding-right: 40px;
  outline-color: var(--clr-red);
  border-color: var(--clr-red);
}

/* -------------------------------------------- */
/*           Bestsellers and Shop Page          */
/* -------------------------------------------- */

.product-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  color: var(--clr-black);
  outline: none;
  border: var(--bd-blue);
  border-radius: var(--bd-radius);
  transition-property: box-shadow;
  scroll-snap-align: start;
}

.product-container:hover,
.product-container:focus {
  box-shadow: inset 0 0 0 2px var(--clr-blue);
}

.product-container :not(:first-child) {
  margin: 5px;
}

.product-container img {
  max-width: 80%;
  margin: 10px auto 0;
  aspect-ratio: 3 / 4;
}

.product-container h2,
.product-container h3,
.product-container span {
  font-size: var(--fs-medium);
}

/* Truncate product descriptions
Inspiration: https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-line-clamp */

.product-container p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: var(--fs-small);
  font-weight: var(--fw-normal);
}
